[user]
	name = Dominik
	email = dominik.otto@izi.fraunhofer.de
[core]
	editor = nvim
[push]
	default = simple
[color]
	ui = true

[alias]
	co = checkout
	ci = commit
	rb = rebase
    pu = push origin
    pl = pull
	last = log -1 HEAD
[credential]
	helper = cache --timeout=3600
[pack]
    windowMemory = 1000m
    packSizeLimit = 1000m
    threads = 8
[merge]
    tool = vimdiff
    conflictstyle = diff3
    prompt = false
[diff "pdf"]
    command = diffpdf
