[user]
	name = Dominik
	email = dominik.otto@gmail.com
[core]
	editor = vim
[push]
	default = simple
[color]
	ui = true

[alias]
	co = checkout
	ci = commit
	rb = rebase
    pu = push origin
    pl = pull
	last = log -1 HEAD
[credential]
	helper = osxkeychain

[diff "pdf"]
        textconv = pdf2txt
