[user]
	name = Dominik
	email = dotto@fredhutch.org
	signingkey = 57208C7DFC10EAAD
[core]
	editor = nvim
[push]
	default = simple
[color]
	ui = true

[alias]
	co = checkout
	ci = commit
	rb = rebase
    pu = push origin
    pl = pull
	last = log -1 HEAD
[credential]
	helper = cache --timeout=3600
[pack]
    windowMemory = 1000m
    packSizeLimit = 1000m
    threads = 8
[merge]
    tool = vimdiff
    conflictstyle = diff3
    prompt = false
[diff "pdf"]
    command = diffpdf
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[init]
	defaultBranch = main
[safe]
	directory = /fh/fast/setty_m/user/bdury/CellDensities
	directory = /fh/fast/setty_m/user/sbaasri/annzarro
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = false
